* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Helvetica, Arial;
}
.body {
    height: 100%;
    background-color: #363636;
    display: flex;
    justify-content: center;
}
.outer {
    max-width: 1000px;
    width: 96vw;
    margin-top: 2vh;
    background-color: white;
    border: 2px solid #4D5155;
    border-radius: 4px;
}
.inner {  
    width: 100%; 
    padding: 0 20px;
}

/* navbar */

.inner-nav { 
    background-color: #353A3F;
}
.navbar {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
    color: white;
    font-size: 1.5em;
    margin-bottom:0;
}
.login {
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.bi {
    color: white;
}

/* navbar end */

/* left side */

.col-3 {
    height: 100vh;
    background-color: #f0f0f0;
}
.bi-search {
    color: black;
}
.search-input {
    display: none;
    width: 100%;
    border: none;
    border-right: 1px solid #d4d4d4;
    border-radius: 0;
    padding: 10px;
    min-width: 20px;
}
.search {
    display: none;
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-list {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.list-search {
    width: 100%;
    border: none;
    border-right: 1px solid #d4d4d4;
    border-radius: 0;
    padding: 10px;
    min-width: 20px;
}
.list-group {
    margin-top: 20px;
}

.active {
    background-color: #818C98 !important;
    border: none !important;
}

/* left side end */

/* right side */

.col-9 {
    height: 100vh;
    background-color: white;
}
.list-title {
    font-size: 3em;
    border-bottom: 2px solid #f0f0f0;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.check {
    margin: 0 10px 0 0;
}
.bi-plus-lg {
    color: black;
}
.todo-button {
    margin-left: 10px;
    padding: 1px 5px;
    border: none;
    border-radius: 3px;
    background-color: #818C98;
    color: white;
}
.trash {
    color: black;
    font-size: .4em;
}
